@using BookManagementWebApp.Dtos
@model List<BookDto>

<h3>Books</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
      
    </tr>
  </thead>
  <tbody>
      @foreach (BookDto book in @Model)
        {
        <tr>
          <td>@book.Id</td>
          <td>@book.Name</td>
          <td>@Html.ActionLink("Remove", "Delete", "Book", new { Name = @book.Name}, new { @class = "btn btn-primary"})</td>
        </tr>
        }
    
    
  </tbody>
</table>